/* Add a black background color to the top navigation */
.topnav {
  background-color: #415a77;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.links a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.links a:hover {
  background-color: #1b263b;
  color: #778da9;
}

/* Add a color to the active/current link */
.links a.active {
  background-color: #0d1b2a;
  color: white;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.todo{
  width: 33%;
  border:1px solid #778da9;
  height: 100%;
  border-radius: 15px
}
.inProgress{
  width: 33%;
  border:1px solid #778da9;
  height: 100%;
  border-radius: 15px;
}
.complete{
  width: 33%;
  border:1px solid #778da9;
  height: 100%;
  border-radius: 15px;
}

.main{
  display: flex;
  padding-top: 2px;
  height: 100%;
}
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
#popup:target {
    display: block;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#popup:target + #overlay {
    display: block;
}
